<h1>Delayed Jobs scheduled for <%= class_name %>
(<%= show_job_arguments(args) %>)
</h1>

<% unless (@error_message || '').empty? %>
  <p style="font-color: red; font-weight: bold;"><%= @error_message %></p>
<% end %>

<% unless timestamps.empty? %>
  <table class="jobs">
    <thead>
      <tr><th>Timestamp</th></tr>
    </thead>
    <tbody>
    <% timestamps.each do |t| %>
      <tr><td><%= Time.at(t) %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
