name: Rubocop

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  rubocop:
    name: Rubocop
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: [
            3.4
        ]

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Ruby linter
        run: bundle exec rubocop
