name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    continue-on-error: true
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.0"
          - 3.1
          - 3.2
          - 3.3
          - 3.4
          - head
        resque-version:
          - "master"
        rufus-scheduler:
          - "3.4"
          - "3.5"
          - "3.6"
        redis-version:
          - "4.8"
          - "latest"
        rack-version:
          - 2
          - 3
    env:
      REDIS_VERSION: "${{ matrix.redis-version }}"
      RESQUE: "${{ matrix.resque-version }}"
      RUFUS_SCHEDULER: "${{ matrix.rufus-scheduler }}"
      RACK_VERSION: "${{ matrix.rack-version }}"
      COVERAGE: 1

    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "${{ matrix.ruby-version }}"
          bundler-cache: true
      - run: bundle exec rake
      - run: bin/bundle_console_test.sh
